.login {
     height: 100vh;
     background-color: rgb(193, 190, 255);
     display: flex;
     align-items: center;
     justify-content: center;

     .card {
          width: 50%;
          background-color: white;
          border-radius: 15px;
          display: flex;
          min-height: 600px;

          .left {
               flex: 1;
               background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url("https://images.pexels.com/photos/9746/people-mother-family-father.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
               background-size: cover;
               padding: 50px;
               display: flex;
               flex-direction: column;
               gap: 30px;
               color: white;

               h1 {
                    font-size: 100px;
                    line-height: 100px;
               }

               p {}

               span {
                    font-size: 14px;
               }

               button {
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: white;
                    border-radius: 10px;
                    color: rebeccapurple;
                    font-weight: bold;
                    cursor: pointer;
                    outline: none;
               }
          }
          .right {

               flex: 1;

               h1 {}
               form {
                    input {}
                    button {}
               }
          }
     }
}